* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    font-family: monospace;

    --white: #FFF8F0;
    --blue: #355070;
    --darker-blue: #233549;
    --lavend: #6d597a;
    --rose: #b56576;
    --coral: #e56b6f;
    --darker-bronze: #e88c7d;
    --bronze: #eaac8b;
    --light-bronze: #ECB496;

    font-family: "Lexend", monospace;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

body {
    min-height: 100vh;
    background-color: var(--white);
    text-align: center;
    display: flex;
    flex-direction: column;
}


body h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    letter-spacing: 3px;
    font-style: italic;
    background-color: var(--rose);
    color: var(--white);
}

main {
    flex: 1;
}

.books-container {
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 1rem;
    gap: 1.5rem;
}

.book-card {
    background-color: var(--bronze);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    border-radius: 20px;
    -webkit-box-shadow: 6px 6px 0px 0px var(--darker-bronze);
    -moz-box-shadow: 6px 6px 0px 0px var(--darker-bronze);
    box-shadow: 6px 6px 0px 0px var(--darker-bronze);
}

.book-card:hover {
    box-shadow: none;
}

#bookAdd {
    padding: 0.7rem 2rem;
    margin: 1rem;
    font-size: 1.3rem;
    border-radius: 20px;
    border-style: none;
    background-color: var(--blue);
    color: var(--white);
}

#bookAdd:hover {
    -webkit-box-shadow: 6px 6px 0px 0px var(--darker-blue);
    -moz-box-shadow: 6px 6px 0px 0px var(--darker-blue);
    box-shadow: 6px 6px 0px 0px var(--darker-blue);
    font-size: 1.33rem;
    cursor: pointer;
}

footer {
    padding: 1rem;
    background-color: var(--rose);
    margin-top: 1rem;
}

.overlay {
    position: fixed;
    inset: 0; 
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(3px);
    z-index: 10;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--white);
    padding: 2rem;
    border-radius: 20px;
    z-index: 20;
}

.hidden {
    display: none;
}

input:user-invalid {
    outline: 1px solid red;
}